# Alist service
alist.pm6422.site {
    reverse_proxy alist:5244
}

# S-UI service with SSL termination
us.pm6422.site {
    reverse_proxy s-ui:2095 {
        header_up X-Forwarded-Proto https
    }
}